.sidenav {
  font-size: 1rem;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden!important;
  overflow-anchor: none;
  touch-action: auto;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 0;
  border-style: solid;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
  z-index: 1000;
  transition: all .15s ease;
  background-color: #fff!important;
  border-color: rgba(0,0,0,.05);
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  max-width: 250px!important;
  left: 0;
  border-width: 0 1px 0 0;
}

/* 스크롤 이너 부분 */
.scrollbar-inner {
  font-size: 1rem;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  box-sizing: border-box;
  height: 100%;
}

.sidenav-header {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  box-sizing: border-box;
  display: flex!important;
  -webkit-box-align: center!important;
  align-items: center!important;
  height: 78px;
}

/* 로고 부분 */
.navbar-brand {
  text-align: left;
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: rgba(0,0,0,.9);
  margin-right: 0;
  padding: 1.5rem;
  display: block;
}

.navbar-brand-img {
  text-align: left;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: rgba(0,0,0,.9);
  box-sizing: border-box;
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
  max-height: 2rem;
}

.ml-auto {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  box-sizing: border-box;
  margin-left: auto!important;
}

.sidenav-toggler {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  box-sizing: border-box;
  display: none!important;
  cursor: pointer;
}

.sidenav-toggler-inner {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  cursor: pointer;
  box-sizing: border-box;
  width: 18px;
  transition: all .15s ease;
  position: relative;
}

.sidenav-toggler-line {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  cursor: pointer;
  box-sizing: border-box;
  transition: all .15s ease;
  height: 2px;
  background-color: #172b4d;
  display: block;
  position: relative;
  margin-bottom: 3px;
  width: 13px;
  transform: translateX(5px);
}

/* 로고 밑 사이드 부분 */
.navbar-inner {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-nav {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.nav-item {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  list-style: none;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  margin-top: 2px;
}

.sidebar-menu-item {
  font-size: 1rem;
  line-height: 1.5;
  color: #525f7f;
  list-style: none;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  height: auto;
  transition: all .15s ease;
}

.ni {
  cursor: pointer;
  box-sizing: border-box;
  color: #5e72e4!important;
  display: inline-block;
  font: normal normal normal 14px/1 NucleoIcons;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 2px;
  min-width: 2rem;
  font-size: .9375rem;
  line-height: 1.5rem;
}

.caret {
  line-height: 1.5;
  list-style: none;
  -webkit-box-direction: normal;
  cursor: pointer;
  color: rgba(0,0,0,.6);
  font-size: .875rem;
  box-sizing: border-box;
  font-weight: bolder;
}

.nav {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  box-sizing: border-box;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  -webkit-box-direction: normal!important;
  -webkit-box-orient: vertical!important;
  flex-direction: column!important;
}

.nav-link {
  line-height: 1.5;
  list-style: none;
  -webkit-box-direction: normal!important;
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  color: rgba(0,0,0,.6);
  font-weight: 500;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: .8125rem;
  padding: .675rem 1.5rem;
  padding-top: .45rem;
  padding-bottom: .45rem;
  padding-left: 3.5rem;
}

.nav-link-text {
  line-height: 1.5;
  list-style: none;
  -webkit-box-direction: normal!important;
  color: rgba(0,0,0,.6);
  font-weight: 500;
  font-size: .8125rem;
  box-sizing: border-box;
}

.navbar-heading {
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  padding: 0!important;
  color: #8898aa!important;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .04em;
  display: block;
}




.ps__rail-x{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  box-sizing: border-box;
  height: 15px;
  display: none;
  opacity: 0;
  -webkit-transition: background-color .2s linear,opacity .2s linear;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.ps__thumb-x {
  font-size: 1rem;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  box-sizing: border-box;
  -webkit-transition: background-color .2s linear,height .2s ease-in-out;
  height: 6px;
  bottom: 2px;
  background-color: #aaa;
  border-radius: 6px;
  position: absolute;
  left: 0px;
  width: 0px;
}

.ps__rail-y {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  box-sizing: border-box;
  display: none;
  opacity: 0;
  -webkit-transition: background-color .2s linear,opacity .2s linear;
  position: absolute;
  width: 15px;
  top: 0px;
  right: 0px;
}

.ps__thumb-y {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  box-sizing: border-box;
  background-color: #aaa;
  border-radius: 6px;
  position: absolute;
  -webkit-transition: background-color .2s linear,width .2s ease-in-out;
  width: 6px;
  right: 2px;
  top: 0px;
  height: 0px;
}


